# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Virtual environment
venv/
.env/

target/*
target/analysis/compile

# OS-specific junk
.DS_Store
Thumbs.db

# Logs
*.log

# Configs or secrets
config.json
cacerts

# Docker artifacts
working_dir/

.mvn

# Ignore Java build artifacts
*.class
*.jar
root.crt